.footer {
    background-color: $grisOscuro;
    padding: 3rem 0;
    margin-bottom: 0;

    .contenido-footer {
        padding-top: 2.5rem;
    }

    .copyright {
        color: $blanco;
        text-align: center;
    }
}